<section class="box profile-box">
    <h1>Foodtaster</h2>
    <section id="user-info">
        <img id="profile-picture" src="{{currentUserInfo.imgPath}}">
        <p>Username: {{currentUserInfo.username}}</p>
        <p>{{currentUserInfo.role}}</p>
    </section>

    <section id="favorite-restaurants">  
    <h3>Your Favorite Restaurants</h3>
    {{#each currentUserInfo.favorites}}
        <li><a href="/restaurant/details/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
    </section>
</section>