<h2>Restaurants with: {{search}}</h2>
<ul>
    {{#each restaurants}}
    <li><a href="/restaurant/details/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>


<h2>Recipes:</h2>
<div class="full-recipe">
    {{#each result}}
    <div class="recipe">
        <p>{{recipe.label}}</p>
        <img src="{{recipe.image}}">
        <p><a href="{{recipe.url}}">View</a></p>

        {{!-- <p>Calories:</p>
<p>{{this.recipe.calories}} kcal</p>
<p>Fat:</p>
<p>{{this.recipe.totalNutrients.FAT.quantity}}</p>
<p>Sugar:</p>
<p>{{this.recipe.totalNutrients.SUGAR.quantity}}</p>
<p>Protein:</p>
<p>{{this.recipe.totalNutrients.PROCNT.quantity}}</p>
<p>Carbohydrates:</p>
<p>{{this.recipe.totalNutrients.CHOCDF.quantity}}</p> --}}

        <p>Health Labels:</p>
        <ul>
            {{#each recipe.healthLabels}}
            <li>{{this}}</li>

            {{/each}}
        </ul>
        <p>Diet Labels:</p>
        <ul>
            {{#each recipe.dietLabels}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>


    {{/each}}
</div>