<div>
    <h2>Restaurants with <span style= "font-weight:bold">{{search}}</span> food</h2>
          <div class="restaurant-info">
    <ul>

    {{#each restaurants}}
<a href={{logo}} data-lightbox={{logo}}>
    <img src={{logo}} alt=""></a>
    <a class="info-link" href="/restaurant/details/{{id}}"><font size="10">{{name}}</font></a>
  
   {{/each}} </ul>
    </div>


    <h1 class="recipe"> Our Recipes</h1>
    <div class="full-restaurant">
        {{#each result}}
            <div class="restaurant-info">
                
                <a  href={{recipe.image}} data-lightbox={{recipe.image}}>
                <img src={{recipe.image}} alt="">
                </a>
               

                <h2><a href="{{recipe.url}}">{{recipe.label}}</a></h2>

<div class= "food-container">
    <div class= "food-container-1">
                <p>Health Labels</p>

                <ul>
                    {{#each recipe.healthLabels}}
                        <li><img class="checks" src="/images/checked.svg">{{this}}</li>
                    {{/each}}
                </ul>
                </div>
<div class= "food-container-2">
                <p>Diet Labels</p>

                <ul>
                    {{#each recipe.dietLabels}}
                        <li><img class="checks" src="/images/checked.svg">{{this}}</li>
                    {{/each}}
                </ul>
                </div>
</div>
            </div>

        {{/each}}
    </div>

</div>
</div>