<h2>Restaurant Details</h2>
<section id="restaurant-container">
  <p>{{restaurant.name}}</p><br>
  <img src={{restaurant.logo}}>
  <p>{{restaurant.description}}</p><br>
  <p>{{restaurant.address}}</p><br>
  <p>{{restaurant.location}}</p><br>
  <p>{{restaurant.foodStyle}}</p><br>
  <ul>
    {{#each restaurant.specialties}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>{{restaurant.phone}}</p><br>
  

  <a href='/restaurant/menu/{{restaurant.id}}'>Food Menu</a>

  <a href={{restaurant.website}}>Website</a>
</section>


<h2>Other users constructive reviews</h2>
{{#each restaurant.reviews}}
<div class="review-item">
  <p>{{comments}}</p>
  {{!-- <span>{{user}}</span> --}}
</div>
{{/each}}



<h2>Create a review!</h2>
<form action="/restaurant/details/{{restaurant._id}}" method="POST" id="form-container">


  <label for="">Review:</label>
  <textarea type="text" name="comments"></textarea>
  <br>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
  <button id="add-review" type="submit">Add Your Review</button>
</form>



  
