<h2>Restaurant Details</h2>
<section id="restaurant-container">
  <p>{{restaurant.name}}</p><br>
  {{#if isRestaurantOwner}}
  <form action="/restaurant/edit/{{restaurant._id}}" method="get" id="form-container">
  <button>Edit Your Restaurant</button><br><br>
  </form>
  {{/if}}
  {{#if isUserLoggedIn}}
  <form action="/restaurant/details/favorite/{{restaurant._id}}" method="POST" id="form-container">
  <button>Save as Favorite</button><br><br>
  </form>
  {{/if}}
  <br><br>
  <img src={{restaurant.logo}}>
  <img src={{restaurant.imgPath}}>
  <p>{{restaurant.description}}</p><br>
  <p>{{restaurant.address}}</p><br>
  <ul>
    {{#each restaurant.healthLabel}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>{{restaurant.foodStyle}}</p><br>
  <ul>
    {{#each restaurant.specialties}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>{{restaurant.phone}}</p><br>
  
  <a href='/restaurant/menu/{{restaurant.id}}'>Food Menu</a>
  <a href={{restaurant.website}}>Website</a>
</section>

<h2>Other users constructive reviews</h2>
{{#each restaurant.reviews}}
<div class="review-item">
  <p>{{username}}</p>
  <p>{{comments}}</p>
  {{!-- <span>{{user}}</span> --}}
</div>
{{/each}}

{{#if isUserLoggedIn}}
  <h2>Create a review!</h2>
  <form action="/restaurant/details/{{restaurant._id}}" method="POST" id="form-container">
    <label for="">Review:</label>
    <textarea type="text" name="comments"></textarea>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <br><br>
    <button id="add-review" type="submit">Add Your Review</button>
  </form>
{{/if}}