<section id="main-container">
  <article id="restaurant-container">
    <a href={{restaurant.logo}} data-lightbox={{restaurant.logo}}>
    <img class="restaurant-logo" src={{restaurant.logo}}></a>
    
    <h1 id="restaurant-name">{{restaurant.name}}</h1>
    <h3 id="food-style">{{restaurant.foodStyle}}</h3>
    <p id="restaurant-description">{{restaurant.description}}</p>

    {{#if isRestaurantOwner}}
      <form action="/restaurant/edit/{{restaurant._id}}" method="get" id="form-container">
      <button>Edit Your Restaurant</button>
      </form>
    {{/if}}
    {{#if isUserLoggedIn}}
      <form action="/restaurant/details/favorite/{{restaurant._id}}" method="POST" id="form-container">
      <button>Save as Favorite</button>
      </form>
    {{/if}}
  <section id="info-container">
    <section id="health-label">
      <ul>
        {{#each restaurant.healthLabel}}
          <li class= "list-individual"><img class="checks" src="/images/checked.svg">{{this}}</li>
        {{/each}}
      </ul>
    </section>
    <section id="contact-info">
      <p class= "list-individual"><img class="icons" src="/images/location.svg">Location: {{restaurant.address}}</p>
      <p class= "list-individual"><img class="icons" src="/images/phone.svg"><a href= tel:{{restaurant.phone}}>{{restaurant.phone}}</a></p>
      <p class= "list-individual"><img class="icons" src="/images/website.svg"><a href={{restaurant.website}}>Web page</a></p>
    </section>
  </section>

  <p id="menu-container"> <a href={{restaurant.menu}} data-lightbox={{restaurant.menu}}>Food Menu</a></p>

  <p id="reviews-header">Our FOOD LOVER experiences, critiques, reviews and mucho love: </p>

  <div class="review-item">
  {{#each restaurant.reviews}}
    <p>{{username}}: {{comments}}</p>
  {{/each}}
  </div>

  {{#if isUserLoggedIn}}
    <h2>What does your heart, mind and soul think about this restaurant?</h2>
    <form action="/restaurant/details/{{restaurant._id}}" method="POST" id="form-container">
      <label for="">Be honest our we will hunt you!</label>
      <textarea type="text" name="comments"></textarea>
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>
      <button id="add-review" type="submit">Send your review</button>
    </form>
  {{/if}}
  </article>

  <article id="map-container">
    <div id="map"></div>
  </article>
</section>

  <script>
    window.result = {{{result}}}
    console.log(window.result)
  </script>