

<ul class="full-restaurant">
{{#each restaurants}}




<div class="restaurant-info">

     <a href="/restaurant/details/{{id}}">{{name}}</a>
    <img src={{logo}}>
    {{!-- <li>{{description}}</li>
    <li>{{foodStyle}}</li>
    <li>{{specialties}}</li>
    <li>{{phone}}</li>
    <li><a href='/restaurant/menu'>Food Menu</a></li>
    <li><a href={{website}}>Website</a></li>
    <li>{{address}}</li> --}}

 </div>

{{/each}}
</ul>

