
<ul class="full-restaurant">
{{#each restaurants}}




<div class="restaurant-info">
  <a href="/restaurant/details/{{id}}">{{name}}</a>
  <img src={{imgPath}}>
  <a href={{logo}} data-lightbox={{logo}}>
  <img src={{logo}} alt="">
</a>

 </div>

{{/each}}
</ul>

<div id="map"></div>


<script>
  
  console.log(window)
  window.result = {{{result}}}
  const result2 = {{{result}}}

</script>




