
<ul>
{{#each restaurants}}

<li>{{name}}</li>
<li><img src={{logo}}></li>
<li>{{description}}</li>
<li>{{foodStyle}}</li>
<li>{{specialties}}</li>
<li>{{phone}}</li>
<li><img src={{menu}}></li>
<li><a href={{website}}>Website</a></li>
<li>{{address}}</li>
<br>



{{/each}}
</ul>