
<section>
  <div class="full-restaurant">
  {{#each restaurants}}




  <div class="restaurant-info">
    <a href="/restaurant/details/{{id}}">{{name}}</a>
    {{!-- <img src={{logo}}> --}}
    
    <a href={{logo}} data-lightbox={{logo}}>
    <img src={{logo}} alt=""></a>

  </div>

  {{/each}}
  </div>

  <div id="map"></div>

</section>


<script>
  
  console.log(window)
  window.result = {{{result}}}
  const result2 = {{{result}}}

</script>




